<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/images/DALL·E 2025-01-13 03.56.24 - A visually appealing logo for a telemedicine platform named 'HealingNet'. The logo should feature a blend of medical and digital themes, incorporating.webp" alt="HealingNet Logo" style=" height: 50px; margin-right: 10px;">
            HealingNet
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/appointments">Appointments</a></li>
                <li class="nav-item"><a class="nav-link" href="/prescriptions">Prescriptions</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>