
    <option selected>Choose Department</option>
    <option value="1">Primary & General Care
    </option>
    <option value="2">Mental & Behavioral Health
    </option>
    <option value="3">Women's & Maternal Health
    </option>
    <option value="4">Children's Health (Pediatrics)
    </option>
    <option value="5">Surgical Specialties
    </option>
    <option value="6">Pain & Rehabilitation
    </option>
    <option value="7">Diagnostic & Laboratory Services
    </option>
    <option value="8">Specialized Medicine & Other Fields
    </option>
