
    <option selected>Department</option>
    <option value="Primary Care & General Medicine">Primary Care & General Medicine</option>
    <option value="Internal Medicine & Subspecialties">Internal Medicine & Subspecialties</option>
    <option value="Surgical Specialties">Surgical Specialties</option>
    <option value="Women’s & Maternal Health">Women’s & Maternal Health</option>
    <option value="Pediatric Specialties">Pediatric Specialties</option>
    <option value="Mental Health & Behavioral Sciences">Mental Health & Behavioral Sciences</option>
    <option value="Oncology & Cancer Care">Oncology & Cancer Care</option>
    <option value="Diagnostic & Laboratory Medicine">Diagnostic & Laboratory Medicine</option>
    <option value="Rehabilitation & Allied Health">Rehabilitation & Allied Health</option>
    <option value="Pain & Specialized Care">Pain & Specialized Care</option>