
    <option selected >Department</option>
    <option value="Primary Care & General Medicine">Primary Care & General Medicine</option>
    <option value="Internal Medicine and Subspecialties">Internal Medicine and Subspecialties</option>
    <option value="Surgical Specialties">Surgical Specialties</option>
    <option value="Women’s Health">Women’s and Maternal Health</option>
    <option value="Pediatric Specialties">Pediatric Specialties</option>
    <option value="Mental Health">Mental Health and Behavioral Sciences</option>
    <option value="Oncology and Cancer Care">Oncology & Cancer Care</option>
    <option value="Diagnostic and Laboratory Medicine">Diagnostic and Laboratory Medicine</option>
    <option value="Rehabilitation and Allied Health">Rehabilitation and Allied Health</option>
    <option value="Pain and Specialized Care">Pain and Specialized Care</option>