 <!-- Navbar Start -->
 <div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a class="navbar-brand" href="/">
                <img src="/img/healingnet2.webp" alt="HealingNet Logo" style="height: 50px; margin-right: 10px;">
            </a>
            <h1 class="m-0 text-primary"> HealingNet</h1>
            <!-- <a href="/" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>HealingNet</h1>
            </a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/profile" class="nav-item nav-link">Profile</a>
                    <a href="/service" class="nav-item nav-link">Service</a>
                    <a href="/price" class="nav-item nav-link">Pricing</a>
                    
                    <a href="/contact" class="nav-link dropdown  signup-dropdown">Contact</a>

                  
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->