 <!-- Navbar Start -->
 <div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>HealingNet</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/service" class="nav-item nav-link">Service</a>
                    <a href="/price" class="nav-item nav-link">Pricing</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="/blog" class="dropdown-item">Blog Grid</a>
                            <a href="/detail" class="dropdown-item">Blog Detail</a>
                            <a href="/team" class="dropdown-item">The Team</a>
                            <a href="/testimonial" class="dropdown-item">Testimonial</a>
                            <a href="/appointment" class="dropdown-item">Appointment</a>
                            <a href="/search" class="dropdown-item">Search</a>
                        </div>
                    </div>
                    <a href="/contact" class="nav-link dropdown  signup-dropdown">Contact</a>

                  <div class="nav-item dropdown signup-dropdown">
                        <a href="#" class="nav-link dropdown-toggle">Sign Up</a>
                        <div class="dropdown-menu m-0">
                            <a href="/signup" class="dropdown-item">Sign Up as Patient</a>
                            <a href="/doctorsignup" class="dropdown-item">Sign Up as Doctor</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown signup-dropdown">
                        <a href="#" class="nav-link dropdown-toggle">Log in</a>
                        <div class="dropdown-menu m-0">
                            <a href="/signup" class="dropdown-item">Log in as Patient</a>
                            <a href="/doctorsignup" class="dropdown-item">Log in as Doctor</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->