<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <!-- Logo and Brand -->
            <a class="navbar-brand" href="/">
                <img src="/img/healingnet2.webp" alt="HealingNet Logo" style="height: 50px; margin-right: 10px;">
                <h1 class="m-0 text-primary d-inline">HealingNet</h1>
            </a>
            <!-- Toggler for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/ui/about" class="nav-item nav-link">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Service</a>
                        <div class="dropdown-menu m-0">
                            <a href="/ui/individuals" class="dropdown-item">Individuals</a>
                            <a href="/student/student" class="dropdown-item">Students</a>
                            <a href="/ui/clinicians" class="dropdown-item">Clinicians</a>
                        </div>
                    </div>
                    <a href="/ui/price" class="nav-item nav-link">Pricing</a>
                    <a href="/ui/contact" class="nav-item nav-link">Contact</a>
                    <a href="/ui/login" class="nav-item nav-link d-flex align-items-center gap-2" target="_blank">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Sign in
                    </a>
                    <div class="menu_nav"> <a href="/ui/signup" class=" btn btn-primary rounded-pill py-3 px-3" target="_blank">
                            Get Started
                        </a> </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<style>
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
<!-- Navbar End -->