<select name="specialty" id="specialty" class="form-select" required>
    <option value="Addiction Medicine">Addiction Medicine</option>
    <option value="Anesthesiology">Anesthesiology</option>
    <option value="Audiology">Audiology</option>
    <option value="Cardiology">Cardiology</option>
    <option value="Cardiothoracic Surgery">Cardiothoracic Surgery</option>
    <option value="Chiropractic Care">Chiropractic Care</option>
    <option value="Dermatology">Dermatology</option>
    <option value="Dietetics and Nutrition">Dietetics and Nutrition</option>
    <option value="Emergency Medicine">Emergency Medicine</option>
    <option value="Endocrinology">Endocrinology</option>
    <option value="Environmental Health">Environmental Health</option>
    <option value="Gastroenterology">Gastroenterology</option>
    <option value="General Surgery">General Surgery</option>
    <option value="Gynecologic Oncology">Gynecologic Oncology</option>
    <option value="Hematology">Hematology</option>
    <option value="Infectious Diseases">Infectious Diseases</option>
    <option value="Intensive Care Unit (ICU)">Intensive Care Unit (ICU)</option>
    <option value="Maternal-Fetal Medicine">Maternal-Fetal Medicine</option>
    <option value="Microbiology">Microbiology</option>
    <option value="Nephrology">Nephrology</option>
    <option value="Neurology">Neurology</option>
    <option value="Laboratory">Laboratory</option>
    <option value="Neurosurgery">Neurosurgery</option>
    <option value="Nuclear Medicine">Nuclear Medicine</option>
    <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
    <option value="Occupational Medicine">Occupational Medicine</option>
    <option value="Occupational Therapy">Occupational Therapy</option>
    <option value="Oncology">Oncology</option>
    <option value="Ophthalmology">Ophthalmology</option>
    <option value="Orthopedic Surgery">Orthopedic Surgery</option>
    <option value="Otolaryngology (ENT)">Otolaryngology (ENT)</option>
    <option value="Pain Management">Pain Management</option>
    <option value="Pathology">Pathology</option>
    <option value="Pediatric Cardiology">Pediatric Cardiology</option>
    <option value="Pediatric Neurology">Pediatric Neurology</option>
    <option value="Pediatric Oncology">Pediatric Oncology</option>
    <option value="Pediatric Surgery">Pediatric Surgery</option>
    <option value="Physical Therapy">Physical Therapy</option>
    <option value="Plastic Surgery">Plastic Surgery</option>
    <option value="Podiatry">Podiatry</option>
    <option value="Preventive Medicine">Preventive Medicine</option>
    <option value="Psychiatry">Psychiatry</option>
    <option value="Psychology">Psychology</option>
    <option value="Psychiatric Nursing">Psychiatric Nursing</option>
    <option value="Public Health"></option>
    <option value="Pulmonology">Pulmonolog</option>
    <option value="Radiology">Radiology</option>
    <option value="Reproductive Endocrinology">Reproductive Endocrinology</option>
    <option value="Rheumatology">Rheumatology</option>
    <option value="Social Work">Social Work</option>
    <option value="Surgery">Surgery</option>
    <option value="Speech Therapy">Speech Therapy</option>
    <option value="Urogynecology">Urogynecology</option>
    <option value="Urology">Urology</option>
    <option value="Vascular Surgery">Vascular Surgery</option>
    <option value="Virology">Virology</option>
</select>