<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <title>HealingNet - Trusted Telemedicine Platform for Online Consultations and Health Resources</title>

    <body>
        <%- include('../partials/header') %>
            <!-- Hero Start -->
            <div class="container-fluid bg-primary py-5 mb-5 hero-header h-100">
                <div class="container py-5">
                    <div class="row justify-content-start">
                        <div class="col-lg-8 text-center text-lg-start">
                            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                style="border-color: rgba(256, 256, 256, .3) !important;" data-aos="fade-up"
                                data-aos-delay="0">Welcome To HealingNet</h5>
                            <h1 class="display-1 text-white mb-md-4" data-aos="fade-up" data-aos-delay="200">Best
                                Healthcare Solution In Your City</h1>
                            <div class="pt-2">
                                <a href="/ui/search" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2"
                                    data-aos="fade-up" data-aos-delay="300">Find
                                    Doctor</a>
                                <a href="/ui/appointment"
                                    class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2 blue"
                                    data-aos="fade-up" data-aos-delay="300">Appointment</a>
                                <a href="/ui/premuim" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2 home_app"
                                    style="margin-top: 10px;" data-aos="fade-up" data-aos-delay="300">Go Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->


            <!-- About Start -->
            <div class="container-fluid py-5 fade-bottom">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-lg-5 mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300"
                            style="min-height: 500px;" data-aos="fade-in">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="100">About Us
                                </h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="250">Best Medical Care For
                                    Yourself and Your Family
                                </h1>
                            </div>
                            <%- include('../partials/about-p') %>

                                <div class="row g-3 pt-3">
                                    <div class="col-sm-3 col-6" data-aos="fade-right" data-aos-delay="100">
                                        <div class="specialty-card bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                            <h6 class="mb-0">Qualified<small
                                                    class="d-block text-primary">Doctors</small></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6" data-aos="fade-right" data-aos-delay="250">
                                        <div class="specialty-card bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-video text-primary mb-3"></i>
                                            <h6 class="mb-0">Video<small
                                                    class="d-block text-primary">Consultation</small></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6" data-aos="fade-right" data-aos-delay="350">
                                        <div class="specialty-card bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-calendar-check text-primary mb-3"></i>
                                            <h6 class="mb-0">Regular<small
                                                    class="d-block text-primary">Follow-ups</small></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6" data-aos="fade-right" data-aos-delay="450">
                                        <div class="specialty-card bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-pills text-primary mb-3"></i>
                                            <h6 class="mb-0">Prescription<small
                                                    class="d-block text-primary">Management</small></h6>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center" data-aos="fade-right" data-aos-delay="550">
                                        <a class="btn btn-dark rounded-pill py-3 px-5" href="/ui/about"
                                            style="margin-top: 10px;">Donate Here</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Services Start -->
            <div class="container-fluid py-5" data-aos="fade-in">
                <div class="container">
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" data-aos="fade-up"
                            data-aos-delay="100">Services</h5>
                        <h1 class="display-4" data-aos="fade-up" data-aos-delay="200">Excellent Medical Services</h1>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
                        <div id="div1" class="btn btn-dark rounded-pill py-3 px-4 text-center" data-aos="zoom-in"
                            data-aos-delay="300">
                            <h5 class="text-primary mb-0">Individuals</h5>
                        </div>
                        <div id="div2" class="btn btn-color-mine rounded-pill py-3 px-4 text-center" data-aos="zoom-in"
                            data-aos-delay="400">
                            <h5 class="text-primary mb-0">Family</h5>
                        </div>
                        <div id="div3" class="btn btn-color-mine rounded-pill py-3 px-4 text-center" data-aos="zoom-in"
                            data-aos-delay="500">
                            <h5 class="text-primary mb-0">Student</h5>
                        </div>
                        <div id="div4" class="btn btn-color-mine rounded-pill py-3 px-4 text-center" data-aos="zoom-in"
                            data-aos-delay="600">
                            <h5 class="text-primary mb-0">Clinicians</h5>
                        </div>
                        <div id="div5" class="btn btn-color-mine rounded-pill py-3 px-4 text-center" data-aos="zoom-in"
                            data-aos-delay="700">
                            <h5 class="text-primary mb-0">Organisations</h5>
                        </div>
                    </div>

                    <hr>
                    <div id="div1_con" class="row gx-5 my-5">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos-delay="100">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/video-consulting.jpg"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7" data-aos="fade-in" data-aos-delay="200">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="300">Video Consulting</h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="400">Best Medical Care For
                                    Individuals of All Ages</h1>
                            </div>
                            <p class="mb-4" data-aos="fade-up" data-aos-delay="500">At HealingNet, we understand that
                                your time is valuable. That's why we offer convenient video consultations with our
                                experienced healthcare professionals. Whether you're at home or on the go, you can
                                access quality medical care from the comfort of your own space.</p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/ui/individuals"
                                    style="margin-top: 10px;" data-aos="fade-up" data-aos-delay="600">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div id="div2_con" class="row gx-5 my-5" style="display: none;">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-right"
                            data-aos-delay="100">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/family_consultation.jfif"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7" data-aos="fade-left" data-aos-delay="200">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="300">Family Care</h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="400">Best Medical Care For
                                    Family Members of All Ages</h1>
                            </div>
                            <p class="mb-4" data-aos="fade-up" data-aos-delay="500">At HealingNet, we understand that
                                your family's health is a top priority. That's why we offer comprehensive family care
                                services to ensure that every member of your family receives the best possible medical
                                attention. Our experienced healthcare professionals are dedicated to providing
                                personalized care for individuals of all ages, from infants to seniors.</p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/ui/individuals"
                                    style="margin-top: 10px;" data-aos="fade-up" data-aos-delay="600">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div id="div3_con" class="row gx-5 my-5" style="display: none;">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-right"
                            data-aos-delay="100">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/student.avif"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7" data-aos="fade-left" data-aos-delay="200">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="300">Student Care</h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="400">Best Medical Care For
                                    Students of All Ages</h1>
                            </div>
                            <p class="mb-4" data-aos="fade-up" data-aos-delay="500">At HealingNet, we understand that
                                students have unique
                                healthcare needs. That's why we offer specialized medical services tailored to the
                                requirements of students. Our experienced healthcare professionals are dedicated to
                                providing personalized care for individuals of all ages, from infants to seniors.</p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/student/student"
                                    style="margin-top: 10px;" data-aos="fade-up" data-aos-delay="600">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div id="div4_con" class="row gx-5 my-5" style="display: none;">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-right"
                            data-aos-delay="100">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/clinicians.jpg"
                                    style="object-fit: fill;">
                            </div>
                        </div>
                        <div class="col-lg-7" data-aos="fade-left" data-aos-delay="200">
                            <div class="mb-4">
                                <div class="alert-container2">
                                    <div class="alert alert-danger">
                                        <p>Coming Soon</p>
                                    </div>
                                </div>
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="300">Clinicians</h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="400">Best Medical Care For
                                    Clinicians</h1>
                            </div>
                            <p class="mb-4" data-aos="fade-up" data-aos-delay="500">
                                HealingNet provides clinicians with the tools and resources they need to deliver
                                exceptional care. Our platform offers advanced features to streamline workflows, enhance
                                patient engagement, and improve outcomes. Stay tuned for more updates on our
                                clinician-focused services.
                            </p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="#"
                                    style="margin-top: 10px;" data-aos="fade-up" data-aos-delay="600">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services End -->


            <!-- Appointment Start -->
            <div class="container-fluid bg-primary my-5 py-5" data-aos="fade-in">
                <div class="container py-5">
                    <div class="row gx-5">
                        <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-in" data-aos-delay="100">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-white text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="200">Appointment</h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="300">Make An Appointment For
                                    Your Family</h1>
                            </div>
                            <p class="text-white mb-5" data-aos="fade-up" data-aos-delay="400">
                                At HealingNet, scheduling an appointment has never been easier. Our user-friendly online
                                platform allows you to book appointments at your convenience, ensuring that you can
                                access the care you need without the hassle of traditional office visits.
                            </p>
                            <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="/ui/search" data-aos="fade-up"
                                data-aos-delay="500">Find Doctor</a>
                            <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/ui/appointment"
                                style="margin-top: 10px;" data-aos="fade-up" data-aos-delay="600">Read More</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg-light text-center rounded p-5" data-aos="fade-up" data-aos-delay="400">
                                <h1 class="mb-4"  data-aos="fade-up" data-aos-delay="420">Book An Appointment</h1>
                                <p class="mb-4"  data-aos="fade-up" data-aos-delay="430">Use our online platform to schedule your appointment. Visit the <a
                                    href="/ui/search">Find Doctor</a> page to get started.</p>
                                <p  data-aos="fade-up" data-aos-delay="450"> Before you book please complete the symptom-checker to get a comprehensive idea of
                                    your disease and ensure effective booking <a href="/ui/symptom_checker"
                                        target="_blank"> Get our Symptoms checked here </a> </p>          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Appointment End -->

            <!-- Premium Features Start -->
            <div class="container-fluid py-5" data-aos="fade-in">
                <div class="container">
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" data-aos="fade-up"
                            data-aos-delay="100">Premium Features</h5>
                        <h1 class="display-4" data-aos="fade-up" data-aos-delay="200">Explore Our Premium Features</h1>
                    </div>
                    <div class="row g-5">
                        <!-- Advanced Video Consultation -->
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <!-- Front Side -->
                                    <div class="flip-card-front service-item bg-light rounded">
                                        <div class="service-icon mb-4">
                                            <i class="fa fa-2x fa-stethoscope text-white"></i>
                                        </div>
                                        <h4 class="mb-3">Advanced Video Consultation</h4>
                                        <p class="m-0">High-quality, HIPAA-compliant video conferencing with multi-party
                                            support for patients, doctors, specialists, or family.</p>
                                        <a class="btn btn-lg btn-primary rounded-pill mt-3" href="/appointment">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- Back Side -->
                                    <div class="flip-card-back">
                                        <h5>Your Health First</h5>
                                        <p>Premium enables you to meet with multiple doctors in a single meeting.</p>
                                        <a class="btn btn-light2 btn-sm mt-2" href="ui/premuim">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- AI Health Assistant -->
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <!-- Front Side -->
                                    <div class="flip-card-front service-item bg-light rounded">
                                        <div class="service-icon mb-4">
                                            <i class="fa fa-2x fa-brain text-white"></i>
                                        </div>
                                        <h4 class="mb-3">AI Health Assistant</h4>
                                        <p class="m-0">Get personalized health advice and preliminary diagnoses with our
                                            AI-powered assistant.</p>
                                        <a class="btn btn-lg btn-primary rounded-pill mt-3" href="/appointment">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- Back Side -->
                                    <div class="flip-card-back premium">
                                        <h5>Health Matters</h5>
                                        <p style="color:#1D2A4D;">Leverage the power of our resourceful AI triage in
                                            getting personalized diagnoses.</p>
                                        <a class="btn btn-light2 btn-sm mt-2" href="ui/premuim"> Get Support</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Home Appointments -->
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <!-- Front Side -->
                                    <div class="flip-card-front service-item bg-light rounded">
                                        <div class="service-icon mb-4">
                                            <i class="fa fa-2x fa-heartbeat text-white"></i>
                                        </div>
                                        <h4 class="mb-3">Home Appointments</h4>
                                        <p class="m-0">Schedule in-person visits from healthcare professionals to your
                                            home.</p>
                                        <a class="btn btn-lg btn-primary rounded-pill mt-3" href="ui/premuim">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- Back Side -->
                                    <div class="flip-card-back">
                                        <h5>Prioritize Your Health</h5>
                                        <p>Get medical care from your most trusted practitioner directly in your home.
                                        </p>
                                        <a class="btn btn-light2 btn-sm mt-2" href="ui/premuim">Start Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="600">
                        <a href="/ui/premuim" class="btn btn-dark rounded-pill py-3 px-5">Go Premium Now</a>
                    </div>
                </div>
            </div>

            <!-- Donations Section Start -->
            <div class="container-fluid py-5 fade-bottom bg-primary text-white" data-aos="fade-in">
                <div class="container">
                    <div class="row align-items-center gx-5 my-5">

                        <!-- Image Column -->
                        <div class="col-lg-5 mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
                            <div class="d-flex justify-content-center align-items-center h-100">
                                <img src="/img/video-consulting.jpg" alt="Support HealingNet"
                                    class="img-fluid rounded w-100" style="min-height: 300px; object-fit: cover;">
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="col-lg-7" data-aos="fade-in data-aos-delay=" 200">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-white text-uppercase border-bottom border-5"
                                    data-aos="fade-up" data-aos-delay="300">
                                    Support Us
                                </h5>
                                <h1 class="display-4" data-aos="fade-up" data-aos-delay="400">
                                    Like Our Commitment?
                                </h1>
                            </div>

                            <p data-aos="fade-up" data-aos-delay="500">
                                HealingNet Premium is dedicated to bringing you the best in telemedicine—
                                from advanced video consultations to 24/7 AI health guidance. Your donations
                                help us expand our network, improve our platform, and reach more people in need.
                            </p>

                            <p data-aos="fade-up" data-aos-delay="600">
                                Choose a level below to make a difference:
                            </p>

                            <!-- Donation Tiers -->
                            <div class="d-flex flex-wrap gap-3 mb-4" data-aos="fade-up" data-aos-delay="700">
                                <button type="button" class="btn btn-light rounded-pill py-2 px-4">Bronze — $10</button>
                                <button type="button" class="btn btn-light rounded-pill py-2 px-4">Silver — $25</button>
                                <button type="button" class="btn btn-light rounded-pill py-2 px-4">Gold — $50</button>
                                <button type="button" class="btn btn-light rounded-pill py-2 px-4">Platinum —
                                    $100</button>
                            </div>

                            <!-- CTA Button -->
                            <a href="/ui/donations" class="btn btn-outline-light rounded-pill px-5 py-3"
                                data-aos="fade-up" data-aos-delay="800">
                                Donate Here
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Donations Section End -->

            <!-- Testimonial Start -->
            <div class="container-fluid py-5 bg-light my-3" data-aos="fade-in">
                <div class="container">
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" data-aos="fade-up"
                            data-aos-delay="100">
                            Testimonial
                        </h5>
                        <h1 class="display-4" data-aos="fade-up" data-aos-delay="200">Patients Say About Our Services
                        </h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="owl-carousel testimonial-carousel">
                                <div class="testimonial-item text-center" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="position-relative mb-5">
                                        <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-1.jpg"
                                            alt="">
                                        <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-quote-left fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                    <p class="fs-4 fw-normal">"HealingNet has been a lifesaver for me. The online
                                        platform made it so easy to book appointments, and the care I received was
                                        top-notch. Highly recommend!"</p>
                                    <hr class="w-25 mx-auto">
                                    <h3>Jane Smith</h3>
                                    <h6 class="fw-normal text-primary mb-3">Software Engineer</h6>
                                </div>
                                <div class="testimonial-item text-center" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="position-relative mb-5">
                                        <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-2.jpg"
                                            alt="">
                                        <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-quote-left fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                    <p class="fs-4 fw-normal">"The doctors at HealingNet are incredibly knowledgeable
                                        and compassionate. I felt truly cared for and supported throughout my
                                        treatment."</p>
                                    <hr class="w-25 mx-auto">
                                    <h3>John Ben</h3>
                                    <h6 class="fw-normal text-primary mb-3">Teacher</h6>
                                </div>
                                <div class="testimonial-item text-center" data-aos="zoom-in" data-aos-delay="500">
                                    <div class="position-relative mb-5">
                                        <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-3.jpg"
                                            alt="">
                                        <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                            style="width: 60px; height: 60px;">
                                            <i class="fa fa-quote-left fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                    <p class="fs-4 fw-normal">"I had a wonderful experience with HealingNet. The
                                        convenience of online scheduling and the quality of care I received were
                                        exceptional."</p>
                                    <hr class="w-25 mx-auto">
                                    <h3>Blessing James</h3>
                                    <h6 class="fw-normal text-primary mb-3">Graphic Designer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->
            <%- include('../partials/footer') %>
    </body>
    <!-- <script src="../js/appoint.js"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const flipCards = document.querySelectorAll('.flip-card-inner');

            setInterval(() => {
                flipCards.forEach(card => {
                    card.classList.toggle('flipped');
                });
            }, 2000); // Flip every 2 seconds
        });
    </script>

</html>