<!-- Security Settings
                                <h5>Security Settings</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="twoFactorAuth" name="twoFactorAuth" <%= user.twoFactorAuth ? 'checked' : '' %>>
                                    <label class="form-check-label" for="twoFactorAuth">
                                        Enable Two-Factor Authentication
                                    </label>
                                </div>

                                <hr>

                               Notification Preferences 
                                <h5>Notification Settings</h5>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="email_notifications" name="email_notifications" <%= user.email_notifications ? 'checked' : '' %>>
                                    <label class="form-check-label" for="email_notifications">
                                        Receive Email Notifications
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="sms_notifications" name="sms_notifications" <%= user.sms_notifications ? 'checked' : '' %>>
                                    <label class="form-check-label" for="sms_notifications">
                                        Receive SMS Notifications
                                    </label>
                                </div> -->