<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <title>HealingNet - Trusted Telemedicine Platform for Online Consultations and Health Resources</title>

    <body>
        <%- include('partials/header') %>
            <!-- Hero Start -->
            <div class="container-fluid bg-primary py-5 mb-5 hero-header">
                <div class="container py-5">
                    <div class="row justify-content-start">
                        <div class="col-lg-8 text-center text-lg-start">
                            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                style="border-color: rgba(256, 256, 256, .3) !important;">Welcome To HealingNet</h5>
                            <h1 class="display-1 text-white mb-md-4">Best Healthcare Solution In Your City</h1>
                            <div class="pt-2">
                                <a href="/about" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Find
                                    Doctor</a>
                                <a href="/appointment"
                                    class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2 blue">Appointment</a>
                                <a href="/homeappointment"
                                    class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2 home_app"
                                    style="margin-top: 10px;">Home Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->


            <!-- About Start -->
            <div class="container-fluid py-5 fade-bottom" data-aos="fade-in">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-in">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-in">About Us
                                </h5>
                                <h1 class="display-4" data-aos="fade-in">Best Medical Care For Yourself and Your Family
                                </h1>
                            </div>
                            <%- include('partials/about-p') %>

                                <div class="row g-3 pt-3">
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                            <h6 class="mb-0">Qualified<small
                                                    class="d-block text-primary">Doctors</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-video text-primary mb-3"></i>
                                            <h6 class="mb-0">Video<small class="d-block text-primary">
                                                    Consultation</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-calendar-check text-primary mb-3"></i>
                                            <h6 class="mb-0">Regular<small
                                                    class="d-block text-primary">Follow-ups</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-pills text-primary mb-3"></i>
                                            <h6 class="mb-0">Prescription
                                                <small class="d-block text-primary">Management</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <a class="btn btn-dark rounded-pill py-3 px-5" href="/about"
                                            style="margin-top: 10px;">About Us</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Services Start -->
            <div class="container-fluid py-5" data-aos="fade-in">
                <div class="container">
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Services</h5>
                        <h1 class="display-4">Excellent Medical Services</h1>
                    </div>
                    <div class="d-flex justify-content-around mb-3">
                        <div id="div1" class="mb-3 btn btn-dark rounded-pill py-3">
                            <h4 class="text-primary"> Individuals </h4>
                        </div>
                        <div id="div2" class="mb-3 btn-color-mine btn rounded-pill py-3">
                            <h4 class="text-primary">Family </h4>
                        </div>
                        <div id="div3" class="mb-3 btn-color-mine btn rounded-pill py-3">
                            <h4 class="text-primary"> Student </h4>
                        </div>
                        <!-- <div id="div4" class="mb-3 btn-color-mine btn rounded-pill py-3">
                            <h4 class="text-primary"> Clinicians </h4>
                        </div> -->
                    </div>
                    <hr>
                    <div id="div1_con" class="row gx-5 my-5">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-in">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/video-consulting.jpg"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-in">Video Consulting
                                </h5>
                                <h1 class="display-4" data-aos="fade-in">Best Medical Care For Individuals of All Ages
                                </h1>
                            </div>
                            <p class="mb-4" data-aos="fade-in">At HealingNet, we understand that your time is valuable.
                                That's why we offer
                                convenient video consultations with our experienced healthcare professionals. Whether
                                you're at home or on the go, you can access quality medical care from the comfort of
                                your own space.
                            </p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/individuals"
                                    style="margin-top: 10px;">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div id="div2_con" class="row gx-5 my-5" style="display: none;">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-in">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/family_consultation.jfif"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-in">Family Care
                                </h5>
                                <h1 class="display-4" data-aos="fade-in">Best Medical Care For Family members of All
                                    Ages
                                </h1>
                            </div>
                            <p class="mb-4" data-aos="fade-in">At HealingNet, we understand that your family's health is
                                a top priority. That's why we offer comprehensive family care services to ensure that
                                every member of your family receives the best possible medical attention. Our
                                experienced healthcare professionals are dedicated to providing personalized care for
                                individuals of all ages, from infants to seniors.</p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/individuals"
                                    style="margin-top: 10px;">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div id="div3_con" class="row gx-5 my-5" style="display: none;">
                        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;" data-aos="fade-in">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="/img/Student.avif"
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                                    data-aos="fade-in">Student plan
                                </h5>
                                <h1 class="display-4" data-aos="fade-in">Best Medical Care For Students of All Ages
                                </h1>
                            </div>
                            <p class="mb-4" data-aos="fade-in">HealingNet is committed to supporting students' health
                                and well-being. Our student plan offers comprehensive medical services tailored to the
                                unique needs of students, ensuring that they have access to quality healthcare while
                                pursuing their education. With our convenient online platform, students can easily
                                schedule appointments, access medical advice, and receive the care they need to thrive
                                academically and personally. </p>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/students"
                                    style="margin-top: 10px;">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Services End -->


            <!-- Appointment Start -->
            <div class="container-fluid bg-primary my-5 py-5" data-aos="fade-in">
                <div class="container py-5">
                    <div class="row gx-5">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="mb-4">
                                <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Appointment
                                </h5>
                                <h1 class="display-4">Make An Appointment For Your Family</h1>
                            </div>
                            <p class="text-white mb-5">At HealingNet, scheduling an appointment has never been easier.
                                Our user-friendly online platform allows you to book appointments at your convenience,
                                ensuring that you can access the care you need without the hassle of traditional office
                                visits.
                            </p>
                            <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="/search">Find Doctor</a>
                            <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/appointment"
                                style="margin-top: 10px;">Read More</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg-light text-center rounded p-5">
                                <h1 class="mb-4">Book An Appointment</h1>
                                <form action="/auth/appointment" method="POST">
                                    <div class="row g-3">
                                        <div class="col-12 col-sm-6">
                                            <input name="Illness" type="text" class="form-control bg-white border-0"
                                                placeholder="Your Illness" id="illness_Select"
                                                onchange="updateDoctors()" style="height: 55px;" required>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <select name="doctor" class="form-select bg-white border-0"
                                                id="doctorSelect" style="height: 55px;" required>
                                                <option selected>Select Doctor</option>
                                                <!-- Doctor options will be populated here -->
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input name="fullname" type="text" class="form-control bg-white border-0"
                                                placeholder="Your Name" style="height: 55px;" required>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <input name="email" type="email" class="form-control bg-white border-0"
                                                placeholder="Your Email" style="height: 55px;" required>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="date" id="date" data-target-input="nearest">
                                                <input type="date" name="appointment_date"
                                                    class="form-control bg-white border-0 datetimepicker-input"
                                                    placeholder="Input Your Date" style="height: 55px;" required>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="time" id="time" data-target-input="nearest">
                                                <input type="time" name="appointment_time"
                                                    class="form-control bg-white border-0 datetimepicker-input"
                                                    placeholder="Time" style="height: 55px;" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Make An
                                                Appointment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Appointment End -->

            <!-- Premium Features Start -->
            <div class="container-fluid py-5" data-aos="fade-in">
                <div class="container">
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Premium Features</h5>
                        <h1 class="display-4">Explore Our Premium Features</h1>
                    </div>
                    <div class="row g-5">
                        <!-- Advanced Video Consultation -->
                        <div class="col-lg-4 col-md-6">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <!-- Front Side -->
                                    <div class="flip-card-front service-item bg-light rounded">
                                        <div class="service-icon mb-4">
                                            <i class="fa fa-2x fa-stethoscope text-white"></i>
                                        </div>
                                        <h4 class="mb-3">Advanced Video Consultation</h4>
                                        <p class="m-0">High-quality, HIPAA-compliant video conferencing with
                                            multi-party support for patients, doctors, specialists, or family.</p>
                                        <a class="btn btn-lg btn-primary rounded-pill mt-3" href="/appointment">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- Back Side -->
                                    <div class="flip-card-back">
                                        <h5>Your Health First</h5>
                                        <p>Premium enables you meet with mutiple doctor in a single meeting</p>
                                        <a class="btn btn-light2 btn-sm mt-2" href="/appointment">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- AI Health Assistant -->
                        <div class="col-lg-4 col-md-6">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <!-- Front Side -->
                                    <div class="flip-card-front service-item bg-light rounded">
                                        <div class="service-icon mb-4">
                                            <i class="fa fa-2x fa-brain text-white"></i>
                                        </div>
                                        <h4 class="mb-3">AI Health Assistant</h4>
                                        <p class="m-0">Get personalized health advice and preliminary diagnoses
                                            with our AI-powered assistant.</p>
                                        <a class="btn btn-lg btn-primary rounded-pill mt-3" href="/appointment">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- Back Side -->
                                    <div class="flip-card-back">
                                        <h5>Health Matters</h5>
                                        <p>Leverage the power of our resourceful ai triage in getting personalized diagnoses</p>
                                        <a class="btn btn-light2 btn-sm mt-2" href="/appointment">Get Support</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Home Appointments -->
                        <div class="col-lg-4 col-md-6">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <!-- Front Side -->
                                    <div class="flip-card-front service-item bg-light rounded">
                                        <div class="service-icon mb-4">
                                            <i class="fa fa-2x fa-heartbeat text-white"></i>
                                        </div>
                                        <h4 class="mb-3">Home Appointments</h4>
                                        <p class="m-0">Schedule in-person visits from healthcare professionals to
                                            your home.</p>
                                        <a class="btn btn-lg btn-primary rounded-pill mt-3" href="/appointment">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- Back Side -->
                                    <div class="flip-card-back">
                                        <h5>Priorize Your Health</h5>
                                        <p>Get medical care from your most trusted practitioner directly in your home
                                        </p>
                                        <a class="btn btn-light2 btn-sm mt-2" href="/appointment">Start Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <a href="/signup" class="btn btn-dark rounded-pill py-3 px-5">Go Premium Now</a>
                    </div>
                </div>
            </div>


            <!-- Testimonial Start -->
            <div class="container-fluid py-5 bg-light my-3" data-aos="zoom-in">
                            <div class="container">
                                <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">
                                        Testimonial</h5>
                                    <h1 class="display-4">Patients Say About Our Services</h1>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="owl-carousel testimonial-carousel">
                                            <div class="testimonial-item text-center">
                                                <div class="position-relative mb-5">
                                                    <img class="img-fluid rounded-circle mx-auto"
                                                        src="img/testimonial-1.jpg" alt="">
                                                    <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                                        style="width: 60px; height: 60px;">
                                                        <i class="fa fa-quote-left fa-2x text-primary"></i>
                                                    </div>
                                                </div>
                                                <p class="fs-4 fw-normal">"HealingNet has been a lifesaver for me. The
                                                    online
                                                    platform made it so easy to book appointments, and the care I received
                                                    was
                                                    top-notch. Highly recommend!" </p>
                                                <hr class="w-25 mx-auto">
                                                <h3> Jane Smith</h3>
                                                <h6 class="fw-normal text-primary mb-3">Software Engineer</h6>
                                            </div>
                                            <div class="testimonial-item text-center">
                                                <div class="position-relative mb-5">
                                                    <img class="img-fluid rounded-circle mx-auto"
                                                        src="img/testimonial-2.jpg" alt="">
                                                    <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                                        style="width: 60px; height: 60px;">
                                                        <i class="fa fa-quote-left fa-2x text-primary"></i>
                                                    </div>
                                                </div>
                                                <p class="fs-4 fw-normal"> "The doctors at HealingNet are incredibly
                                                    knowledgeable
                                                    and compassionate. I felt truly cared for and supported throughout my
                                                    treatment."</p>
                                                <hr class="w-25 mx-auto">
                                                <h3>John Ben</h3>
                                                <h6 class="fw-normal text-primary mb-3">Teacher</h6>
                                            </div>
                                            <div class="testimonial-item text-center">
                                                <div class="position-relative mb-5">
                                                    <img class="img-fluid rounded-circle mx-auto"
                                                        src="img/testimonial-3.jpg" alt="">
                                                    <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                                        style="width: 60px; height: 60px;">
                                                        <i class="fa fa-quote-left fa-2x text-primary"></i>
                                                    </div>
                                                </div>
                                                <p class="fs-4 fw-normal">"I had a wonderful experience with HealingNet. The
                                                    convenience of online scheduling and the quality of care I received were
                                                    exceptional." </p>
                                                <hr class="w-25 mx-auto">
                                                <h3>Blessing James</h3>
                                                <h6 class="fw-normal text-primary mb-3"> Graphic Designer</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
            <!-- Testimonial End -->
        <%- include('partials/footer') %>
    </body>
    <script src="/js/appoint.js"></script>

</html>