

  .sidebar {
    height: 100vh;
    overflow-y: auto;
  }

  /* Optionally hide the HealingNet title on small screens */
  .navbar h1 {
    font-size: 1.5rem;
  }

  @media (max-width: 991.98px) {

    /* If you want to add a sidebar toggle button on mobile,
         you can adjust its display here */
    #sidebarToggle {
      display: block;
    }
  }