*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.navbar {
  background-color: #007bff;
  transition: all 0.3s ease-in-out;
}
.navbar-brand, .nav-link {
  color: #fff;
}
.nav-link {
  margin-right: 10px;
}
.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand img {
  height: 50px;
  vertical-align: middle;
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero-section {
  background: url('/images/labworkers.jpg') no-repeat center center/cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* About Section Styling */
.about-section {
  padding: 4rem 0;
  background-color: #f8f9fa;
}

.about-section h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  font-weight: bold;
}

.about-section p {
  font-size: 1.1rem;
  color: #5d6d7e;
  line-height: 1.8;
}

.about-section img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-section .btn-primary {
  background-color: #007bff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.about-section .btn-primary:hover {
  background-color: #0056b3;
}


/* Slideshow Styling */
.hero-slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.slide .content {
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.slide h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.slide p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.nav-dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav-dot.active {
  opacity: 1;
}


/* Cards */
.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.card:hover {
  transform: translateY(-10px);
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  border-radius: 10px;
}
.card-text {
  color: #555;
}
img {
  border-radius: 5px 5px 0 0;
}

.container1{
  padding: 16px 16px;
}

.card1:hover {
  transform: translateY(-10px);
}
.service-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.features-section, .contact-section {
  padding: 60px 20px;
}
