body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(to right, #6a11cb, #2575fc); */
    color: #333;
  }
  .margin-mine{
    margin-top: 160px;
  }
  
  .card {
    border-radius: 10px;
    background-color: #fff;
  }
  
  h3 {
    font-weight: bold;
  }
  
  .form-label {
    font-size: 0.9rem;
  }
  
  #togglePasswordIcon {
    color: #6c757d;
  }
  
  #passwordFeedback {
    font-size: 0.8rem;
  }
  #password-icon {
    position: absolute;
    right: 10px; /* Adjust this value if needed */
    top: 70%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    cursor: pointer;
}

/* Error and Success Message Styling */
/* .error-message,
.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.error-message {
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  color: #842029;
}
.success-message {
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
  color: #0f5132;
} */
